
.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    margin-left: 400px;
}

.eyeicon{
    position: absolute;
    right: 75px;
    top: 217px;
}